div.loginContainer
    h2.loginTitle Вход
    form(action="submit")
      div.loginInputWrapper
          | !{login}
          | !{password}
          div.loginButtonsWrapper
            | !{button}
            a(href="/src/pages/register/index.pug").loginRegisterLink  Нет аккаунта?