@import '../../styles/utils/_variables';

.input {
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 15px;
  line-height: 20px;
  width: 100%;
  background-color: $gray-bg-color;

  &:disabled {
    color: #a0a0a0;
  }
}
