include ../../../components/input/index.pug

+input('mail', 'Почта', 'Почта', 'email', '100%', 'left')
+input('login', 'Логин', 'Логин', 'text', '100%', 'left')
+input('first_name', 'Имя', 'Имя', 'text', '100%', 'left')
+input('second_name', 'Фамилия', 'Фамилия', 'text', '100%', 'left')
+input('display_name', 'Имя в чате', 'Имя в чате', 'text', '100%', 'left')
+input('phone', 'Телефон', 'Телефон', 'phone', '100%', 'left')