style(lang="scss").
  @import 'src/styles/main.scss';

html(lang="ru")
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Chat
  body
    main.mainContainer
      include src/pages/main/index.pug