style(lang="scss").
  @import 'src/styles/main.scss';

html
  head
    title Chat
  body
    main.mainContainer
      //- include src/pages/login/index.pug
      //- include src/pages/register/index.pug
      include src/pages/main/index.pug
      //- include src/pages/profile/index.pug
      //- include src/pages/404/index.pug