@import '../../styles/utils/_variables';

.button {
  &Wrapper {
    cursor: pointer;
    width: 120px;
    background-color: $bg-color-blue;
    height: 35px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
    border: none;

    &:hover {
      background-color: #4151e6;
    }

    &:active {
      background-color: #3543bb;
    }
  }

  &Text {
    color: #fff;
  }
}
