style(lang="scss").
  @import '/src/pages/main/main.scss';
include ../../components/button/index.pug
include ../../components/input/index.pug

div.mainContainer
    include ./chat-list/index.pug
    include ./chat/index.pug