style(lang="scss").
  @import '/src/pages/profile/index.scss';
//- include ../../components/input/index.pug
include ../../components/button/index.pug
include ../../components/modal/index.pug

div.profileSideBar
    div.profileSideBarBack
        <img src="/src/assets/images/back-arrow.svg" alt="avatar">
div.profileContainer
    div.profileAvatar
        <img src="/src/assets/images/avatar-man.svg" alt="avatar">
    div.profileName Вадим
    div.profileInputWrapper
        -const changePassword = false;
        if changePassword
            include ./password-inputs/index.pug
        else
            include ./info-inputs/index.pug
    div.profileBtnWrapper
        +button('Сохранить', 160)
        if changePassword
            +button('Назад', 160)
        else
            +button('Изменить пароль', 160)
        a(href="/src/pages/login/index.pug").profileLogoutLink  Выйти