$font-family-1: 'ALSHauss', 'Helvetica', 'Arial', sans-serif;

$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

$font-size-title-big: 28px;

$gray-bg-color: #eae8e8;
$blue-bg-color: #e4edfd;
$gray-text-color: #999999;

$font-link-color: #606cdf;

$container-max-width-big: 1284px;

$bg-color-blue: #4f5eea;
