style(lang="scss").
  @import '/src/pages/main/chat/header/index.scss';

div.mainChatHeader
    div.mainChatHeaderUser
        div.mainChatHeaderUserAvatar
            <img src="/src/assets/images/avatar-man.svg" alt="avatar">
        div.mainChatHeaderUserName Вадим
    div.mainChatHeaderBtn 
        <img src="/src/assets/images/three_points.svg" alt="points">
        div.mainChatHeaderDropDownMenu
            div.mainChatHeaderDropDownMenuItem
                <img src="/src/assets/images/plus-round.svg" alt="plus">
                <span> Добавить пользователя
            div.mainChatHeaderDropDownMenuItem
                <img src="/src/assets/images/close-round.svg" alt="delete">
                <span> Удалить пользователя
            div.mainChatHeaderDropDownMenuItem
                <img src="/src/assets/images/garbage-round.svg" alt="clean">
                <span> Очистить чат
