div 
    | !{profileSideBar}
    form.profileContainer
        div.profileAvatar
            <img src=#{avatarLogo} alt="avatar">
        div.profileName #{userName}
        div.profileInputWrapper
            | !{infoInputs}