div.mainChatsListWrapper
  div.mainChatsListHeader
    div.mainChatsListHeaderBtn
      a(href="/profile").mainChatsListLink
        | !{button}
      div.mainChatsListSearch
        | !{search}
  div.mainChatsListItems
      | !{chatCardSergey}
      | !{chatCardIvan}