div.mainChatsListWrapper
  div.mainChatsListHeader
    div.mainChatsListHeaderBtn
      a(href="/src/pages/profile/index.pug").mainChatsListLink
        | !{button}
      div.mainChatsListSearch
        | !{search}
  div.mainChatsListItems
      | !{chatCardSergey}
      | !{chatCardIvan}