include ../../../components/input/index.pug

+input('oldPassword', 'Старый пароль', 'Старый пароль', 'password', '100%', 'left')
+input('newPassword', 'Новый пароль', 'Новый пароль', 'password', '100%', 'left')
+input('newPasswordAgain', 'Повторите новый пароль', 'Повторите новый пароль', 'password', '100%', 'left')