@import '../../styles/utils/_variables';

.message {
  &Container {
    position: relative;
    max-width: 400px;
    min-width: 100px;
    background-color: $gray-bg-color;
    border-radius: 8px;
    padding: 12px;
    margin: 10px 0;
  }
  &Text {
    font-size: 14px;
  }
  &Bottom {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
    flex-direction: row;
    gap: 2px;
    &Time {
      font-size: 11px;
    }
  }
}
